*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.container{
    background-color: rgb(73, 184, 192);
    width :1600px;
    height: 1200px;
    border:10px solid black;
}
.content{
    max-width:900px;
    margin:0  auto;
}
.top_section{
    margin-top:100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.top_section ,h1{
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
}
.top_section h4{
    font-size: 30px;
    text-align: end;
}

.image_container{
    border-radius: 50%;
    overflow: hidden;
}
.image_container ,img{
    width:250px;
    height:280px;
}
.about_section{
    margin-top: 50px;
}
.about_section h2{
    font-size: 70px;
    font-weight: 400;
    margin-bottom: 20px;
}
.about_section p{
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}
.Biography{
    margin-top: 50px;
}
.Biography h4{
    font-size: 20px;
    margin-bottom: 20px;
}
.Biography ul{
margin-left: 20px;
}
.Biography li{
margin-bottom: 15px;
}
footer{
    margin-top: 50px 0;
}
footer p{
    text-align: end;
}